# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env_backup

local_config/
dst/
output


src\utils\*.json

src/utils/firebase-service-account.json
src/utils/fam-budget-457819-8d40c9c4adb4.json